# Update the values below with environment-specific details before running Terraform commands.
prefix                             = "synapsetest"
environment                        = "dev"
location                           = "usgovvirginia"
azure_environment                  = "usgovernment"
synapse_sql_administrator_login    = "synapseadmin"
synapse_sql_administrator_password = "ReplaceWithStrongPassword123!"

existing_user_assigned_identity = ""
existing_key_vault = ""
existing_key_vault_key = ""
enable_private_dns_zones = false

tags = {
  owner      = "data-team"
  costcenter = "1234"
}
